<% if resource.errors.any? %>
  <div class="error-explanation" data-turbo-cache="false">
    <ul class="errors">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>