body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

.main-container {
  margin-top: 80px;
  background: #ffffff;
  min-height: 100vh;
}

.alert {
  width: 90%;
  margin: 5px auto;
}